*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.app {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.left {
    min-width: 10rem;
    height: 95vh;
    overflow: auto;
}

.right {
    max-width: 70%;
    height: 95vh;
    flex-grow: 1;
    border-left: 1px solid #727272 ;
    overflow: auto;
}

.option {
    display: block;
    margin-left: 1rem;
    cursor: pointer;
    /* text-decoration: underline; */
}

.list {
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
}


.img-box {
    width: 100%;
    width: 10rem;
    max-height: 8rem;
    min-width: 10rem;
}

.list-img {
    width: 100%;
    height: 100%;
    max-width: 10rem;
    object-fit: cover;
}

.list-box {
    padding: 0 1rem;
    overflow: auto;
}

.list-description {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
}

.delete {
    color: #727272 ;
    font-size: 0.7rem;
    padding-left: 1rem;
}

.old {
    padding: 0.5rem 1rem;
    color: #059CAD;
    text-decoration: none;
}

.old:hover {
  text-decoration: underline;
}

.active {
    background-color: #d0cece ;
    text-decoration: underline;
}
