<div class="container">
  <div class="app">
    <div class="left">
      <div class="nav">
        <div *ngFor="let news of sources" class="option">
          <h3 class="old" id="{{news.ID}}" (click)="updateHeadlines(news.url)">{{news.name}}</h3>
        </div>
        <a href="https://newsapi.org" class="power">Powered by NewsAPI.org</a>
      </div>
    </div>

    <div class="right">
      <div class="list" *ngFor="let news of headlines">
        <div class="img-box">
          <img class="list-img" src="{{news.urlToImage}}" alt="Photo Not Found">
        </div>
        <div class="list-box">
          <h3><a href="{{ news.url }}" target="_blank" class="list-item">{{ news.title }}</a></h3>
          <p class="list-description" [innerHTML]="news.description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
